body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    text-align: center;
}


div#timer {
    text-align: center;
    background-color: #05435A;
    border: 28px solid  #579FB8; 
    color: white;   
    width: 835px;
    height: 400px;    
    font-size: 20em;
    padding-top: 10px;
    font-weight: bolder;
    margin-bottom: 50px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}