@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Metal Mania", system-ui;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: beige;
    font-family: var(--fonte1) ;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;   
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
    
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 4vw;
}

section.normal{
    background-color: rgb(197, 189, 179);
}

section.imagem{
    background-color: rgb(70, 68, 68);
    
}
section.imagem > p{
    display: inline-block; 
    border: 2px solid rgb(255, 255, 255);    
    background-color: rgb(37, 35, 35);
    padding: 5px;
    
}

footer{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
}